<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2. 自定义Vue组件</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <br />

    <div id="Application">
        <my-input v-model="inputText" title="1. 组件的外部属性-titile" @myclick="myClick"></my-input>

        <div>父组件：{{inputText}}</div>
        <button @click="this.inputText = ''">清空</button>
    </div>
    <script>
        const App = Vue.createApp({
            data() {
                return {
                    inputText: ""
                }
            },
            methods: {
                myClick() {
                    this.inputText = ''
                    console.log("I'm your father")
                }
            }
        })
        const inputComponent = {
            props: ["modelValue", "title"],
            methods: {
                action(event) {
                    // 传递给父组件
                    this.$emit('update:modelValue', event.target.value)
                }
            },
            template: `<div><div>{{title}}</div>
            <hr />
            <div>2. 组件的事件-子传父\${emit}</div>
            <button @click="$emit('myclick')">内部清空</button>
            <hr />
            <div>3. 组件的v-model-绑定父组件双绑inputText</div>
            <span>输入框：</span><input :value="modelValue" @input="action"/>
            <hr />
            </div>`
        }
        App.component("my-input", inputComponent)
        App.mount("#Application") 
    </script>
</body>

</html>